.content-menu {
  width: 100%;
  height: 60px;
  background-color: black;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0 15px 0;
  color: aliceblue;
}

a {
  text-decoration: none;
  color: #ece9e9;
}

.menu li a:hover {
  color: #fff;
}